.bs-sidebar.affix {
  top: 25px;
  margin-top: 35px;
}

.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

@media (min-width: 768px) {
  .bs-sidebar.affix {
    width: 158px;
    top: 25px;
  }
}

@media (min-width: 992px) {
  .bs-sidebar.affix {
    width: 213px;
  }
}

@media (min-width: 1200px) {
  .bs-sidebar.affix {
    width: 263px;
  }
}

.google-map-canvas,
.google-map-canvas * { .box-sizing(content-box); }

.highlight {
	background-color: #EEEEEE;
}

#towertable tbody {
	cursor: pointer;
}

@media (min-width: 1200px)
#towerselect {
	width: 80%;
}
@media (min-width: 1200px)
#towerselectwrap {
	width: 50%;
}