@CHARSET "ISO-8859-1";

html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.navbar {
	margin: 0px;
}

#fullscreen-map {
	height: 100%;
	margin: 0px;
	padding: 0px;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	width: auto;
	height: auto;
}

.modal-dialog-center { /* Edited classname 10/03/2014 */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}

@media (max-width: 767px) {
  .modal-dialog-center { /* Edited classname 10/03/2014 */
    width: 100%;
  }
} 